.appicon {
  display: block;
  color: #1ed760;
  margin: 0;
  font-weight: 900;
  position: relative; }
  .appicon img {
    width: 66px; }
  .appicon.appicon--default {
    color: #1ed760; }
  .appicon.appicon--white {
    color: white; }
